<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>

	</configSections>

	<appSettings>
		<add key="user" value=""/>
		<add key="password" value=""/>
		<add key="CommUrl" value="http://localhost:10100/api/v1/doreq"/>
		<add key="AppCode" value="MYDDC"/>
		<add key="AppName" value="满意度调查系统"/>
		<add key="HisName" value="医院信息化平台"/>
	</appSettings>

	<modules>

		<module assemblyFile="Cn.Hardnuts.MainModule.dll" moduleType="Cn.Hardnuts.MainModule.MainModule,Cn.Hardnuts.MainModule, Version=1.0.0.0,  PublicKeyToken=null" moduleName="MainModule" startupLoaded="True"/>

	</modules>
</configuration>