<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>

	</configSections>

	<appSettings>
		<add key="User" value=""/>
		<add key="Password" value=""/>
		<add key="HisUrl" value="http://localhost:10100/api/v1/doreq"/>
		<add key="SHMUrl" value="http://localhost:10100/api/v1/doreq"/>
		<add key="DeviceCode" value="DC001"/>
		<add key="AppName" value="自助终端系统2"/>
		<add key="HisName" value="XX妇幼保健院2"/>
		<add key="ReadCardInterVal" value="1"/>
		<add key="ExitInterVal" value="20"/>
	</appSettings>

	<modules>

		<module assemblyFile="Cn.Hardnuts.MainModule.dll" moduleType="Cn.Hardnuts.MainModule.MainModule,Cn.Hardnuts.MainModule, Version=1.0.0.0,  PublicKeyToken=null" moduleName="MainModule" startupLoaded="True"/>

	</modules>
</configuration>